#artists-container
  .artist
    = image_tag "artist.jpg"
    Benjamin Bouchet
  .artist
    = image_tag "artist.jpg"
    Benjamin Bouchet
  .artist
    = image_tag "artist.jpg"
    Benjamin Bouchet
  .artist
    = image_tag "artist.jpg"
    Benjamin Bouchet
