#content-container
  = render "breadcrumb"
  #grid
    - @slides.each do |slide|
      = link_to responsive_image_tag(slide.image.non_retina_thumb.url, :style => 'width: 216px;'), project_path(@project.artist.name.downcase.gsub(" ", "-"), @project.title.downcase.gsub(" ", "-"), :slide => slide.position)
