#content-container
  #breadcrumb
    News
    #view-as-grid
      = link_to posts_grid_path do
        = responsive_image_tag("grid.gif", :width => 11)
        view as grid

  #news
    = render @posts
