#content-container
  #breadcrumb
    News
    #view-as-grid
      = link_to 'news/grid' do
        = image_tag("grid.gif")
        view as grid

  #news
    - @posts.each do |post|
      = render post
