#lightbox-grid {
  .project.lightbox {
    position: relative;
  }
  .project.lightbox .close {
    position: absolute;
    top: 0; right: 0;
    display: none;
    width: 29px; height: 29px;
  }
  .project.lightbox .close img {
    width: 29px; height: 29px;
  }
  .project.lightbox:hover .close {
    display: block;
  }
}
#sorry {
  font-size: 18px;
  color: $g60;
  margin-bottom: 50px;
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

