//=============== Header/Footer ===============

#container {
  width: 900px;
  margin: 0 auto;
  #header {
    width: 900px;
    height: 80px;
    border-bottom: 1px solid $g90;
    background-color: white;
    margin-bottom: 12px;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    img {
      display: inline-block;
      position: absolute;
      bottom: 12px;
      left: 0px;
    }
    #nav {
      display: inline-block;
      position: absolute;
      bottom: 12px;
      right: 0px;
      color: $g20;
      text-transform: uppercase;
      font-size: 12px;
      cursor: default;
      .slash {
        color: $g80;
        display: inline;
      }
      a:link, a:visited {
        color: $g50;
        text-decoration: none;
      }
      a:hover {
        color: $g20;
      }
    }
  }
  #footer {
    width: 900px;
    border-top: 1px solid $g90;
    font-size: 12px;
    text-align: left;
    padding-top: 20px;
  }
}

//=============== Artists ===============

#content-container {
  margin-top: 110px;
  text-align: left;
  .artist {
    font-size: 16px;
    color: $g20;
    display: inline-block;
    margin-bottom: 43px;
  }
  img {
    display: block;
    margin-bottom: 8px;
  }
  .artist:nth-child(3n+1) {
    margin-right: 39px;
  }
  .artist:nth-child(3n+3) {
    margin-left: 39px;
  }
}

#breadcrumb {
  font-size: 24px;
  color: $g40;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}
.subnav {
  padding: 16px 0;
  border-top: 1px solid $g90;
  width: 137px;
  font-size: 12px;
  color: $g20;
  line-height: 20px;
  cursor: default;
  .active { font-weight: bold; }
  a:link, a:visited {
    color: $g40;
    text-decoration: none;
    font-weight: normal;
    display: block;
  }
  a:hover {
    color: $g20;
  }
}
