//=============== Header/Footer ===============

#container {
  width: 900px;
  margin: 0 auto;
  #header {
    width: 900px;
    height: 80px;
    border-bottom: 1px solid $g90;
    background-color: white;
    margin-bottom: 12px;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    img {
      display: inline-block;
      position: absolute;
      bottom: 12px;
      left: 0px;
    }
    #nav {
      display: inline-block;
      position: absolute;
      bottom: 12px;
      right: 0px;
      color: $g20;
      text-transform: uppercase;
      font-size: 12px;
      cursor: default;
      .slash {
        color: $g80;
        display: inline;
      }
      a:link, a:visited {
        color: $g50;
        text-decoration: none;
      }
      a:hover {
        color: $g20;
      }
    }
  }
  #footer {
    width: 900px;
    border-top: 1px solid $g90;
    font-size: 12px;
    text-align: left;
    padding-top: 20px;
  }
}

//=============== Artists ===============

#content-container {
  margin-top: 110px;
  text-align: left;
  .artist {
    font-size: 16px;
    color: $g20;
    display: inline-block;
    margin-bottom: 43px;
    img {
      display: block;
      margin-bottom: 8px;
    }
  }
  .artist:nth-child(3n+1) { margin-right: 39px; }
  .artist:nth-child(3n+3) { margin-left: 39px; }
  #breadcrumb {
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
    color: $g40;
    div { display: inline }
    .slash { color: $g80; }
    .second { color: $g60; }
    a { color: $g40; }
    a:hover { color: $g20; }
  }
  .portfolio {
    margin-bottom: 50px;
    .project {
      margin-right: 8px;
      width: 216px;
      display: inline-block;
      margin-bottom: 38px;
      img { width: 216px; }
      .caption {
        margin-top: 18px;
        border-top: 1px solid $g90;
        padding-top: 6px;
        color: $g20;
      }
    }
    .project:nth-child(4n+4) { margin: 0; }
  }
  .artist-heading {
    font-size: 24px;
    color: $g60;
    letter-spacing: -0.5px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid $g90;
  }
  .recent-work {
    margin-bottom: 50px;
  }
  .bio {
    font-size: 14px;
    margin-bottom: 50px;
    color: $g40;
    line-height: 20px;
    width: 500px;
    a:link, a:visited { color: $g60; }
  }
}

//=============== Project ===============

#content-container {
  #controls {
    border-top: 1px solid $g90;
    padding: 22px 0;
    overflow: auto; // fixes issue where floated elements have 0 height
  }
  #left {
    font-size: 14px;
    float: left;
    color: $g60;
    a, #current-slide, #total-slides { color: $g20; }
    #current-slide {
      text-align: right;
      width: 14px;
      display: inline-block;
    }
    img {
      display: inline;
      margin-bottom: -2px;
      margin-right: 9px;
    }
  }
  #right {
    float: right;
    font-size: 11px;
    color: $g40;
    text-transform: uppercase;
    a {
      color: $g40;
      margin-left: 17px;
      img { margin-right: 4px; }
    }
  }
  #slides {
    clear: both;
    text-align: center;
  }
  #subtext {
    margin-top: 25px;
    margin-bottom: 100px;
  }
}

//=============== Information ===============

#content-container {
  .text {
    font-size: 14px;
    margin-bottom: 50px;
    padding-right: 30px;
    border-right: 1px solid $g90;
    color: $g20;
    line-height: 22px;
    width: 500px;
    a:link, a:visited { color: $g60; }
  }
  #twitter {
    #twitter-name {
      font-weight: bold;
      font-size: 12px;
    }
    .tweet {
      color: $g20;
      font-size: 12px;
      line-height: 20px;
      width: 200px;
      padding: 0 10px;
      border-right: 1px solid $g90;
      display: inline-block;
      a:link {
        color: $g60;
        text-decoration: underline;
      }
      .tweet:nth-child(1) { padding-left: 0; }
      .tweet:nth-child(4) { border: 0; }
    }
  }
}
