// Grays
$g90: #e5e5e5;
$g80: #cccccc;
$g60: #999999;
$g50: #808080;
$g40: #666666;
$g20: #333333;

@import "cssreset";

body {
  text-align: center;
  font-family: georgia;
}

img {
  max-width: 900px; // TODO: maybe find better solution for retina image sizes.
}

body { -webkit-font-smoothing: antialiased; }

a { text-decoration: none; }

@import "header";
@import "artists";
@import "information";
@import "posts";
@import "projects";
@import "lightbox";
@import "footer";
