@import "cssreset";

// 120 DPI
#pdf {
  .cover {
    text-align: center;
    img { margin-top: 400px; }
    .date {
      margin: 0 auto;
      width: 516px;
      border-top: 1px solid #e5e5e5;
      margin-top: 20px;
      padding-top: 20px;
      color: #808080;
      font-size: 21px;
      text-align: center;
    }
  }
  .page {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 1020px;
    height: 1320px;
    padding: 60px;
    //border: 1px solid red;
    font-family: Georgia;
    position: relative;
  }
  .line {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0 40px 0;
  }
  .caption {
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #666666;
    div { display: inline }
    .slash { color: #cccccc; }
    .second { color: #999999; }
  }
  .footer {
    position: absolute;
    bottom: 70px;
    left: 70px;
    width: 900px;
    border-top: 1px solid #e5e5e5;
    text-align: left;
    padding-top: 20px;
    font-size: 12px;
    color: #333;
    line-height: 18px;
  }
}
